aiohttp==3.7.3
bert-serving-client==1.10.0
elasticsearch==7.10.1
flask==1.1.2
nltk==3.5
numpy==1.19.2
pandas==1.2.0
rank-bm25==0.2.1
sentencepiece==0.1.94
six==1.15.0
spm==0.9.1
tensorboard==2.4.0
tensorflow==2.4.0
tensorflow-gpu==2.4.0
tensorflow-hub==0.10.0
tqdm==4.53.0
wget==3.2
